# H1 Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:** 
- List popular languages for Data Science
- List commonly used libraries by Data Scientists 
- Data Science Tools

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:
ordered list 
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

In [ ]:
|Data Science Tools|   |       |
|------|---|-------|
|Pyhton| R |Rstudio|

# H3 Below are a few examples of evaluating arithmetic expressions in Python.
Addition
2+3
Multiplication
2.5*3.5

In [30]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [31]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# H2 Author
Praveen Kumar Ramtekkar